@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slate-50: 248 250 252;
  --slate-100: 241 245 249;
  --slate-200: 226 232 240;
  --slate-300: 203 213 225;
  --slate-400: 148 163 184;
  --slate-500: 100 116 139;
  --slate-600: 71 85 105;
  --slate-700: 51 65 85;
  --slate-800: 30 41 59;
  --slate-850: 23 31 46;
  --slate-900: 15 23 42;
  --slate-950: 2 6 23;
}

:root[data-theme='light'] {
  --slate-50: 2 6 23;
  --slate-100: 15 23 42;
  --slate-200: 30 41 59;
  --slate-300: 51 65 85;
  --slate-400: 71 85 105;
  --slate-500: 100 116 139;
  --slate-600: 148 163 184;
  --slate-700: 203 213 225;
  --slate-800: 226 232 240;
  --slate-850: 233 241 248;
  --slate-900: 241 245 249;
  --slate-950: 255 255 255;
}

@layer base {
  body {
    @apply m-0 p-0 font-sans select-none overflow-hidden;
  }
}

/* Custom scrollbar for dark mode */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-800/50;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded-full hover:bg-slate-500 transition-colors;
}
